{%extends "django_registration/base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row p-0 m-0">
    <div class="col-md-6 mt-5">
      {% if form.errors %}
      <p> Password or Username is incorrect </p>
      {% endif %}

    </div>
    <div class="col-md-6  mt-5">
      {% if form.errors %}
      <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="card border-primary mb-4" style="max-width:30rem;">
        <div class="card-header text-center">
     
          <h2 class="text-center" style="color:grey;font-size:18px;font-family: 'apercu',sans-serif">Login to review, rate and vote website projects.</h2>
        </div>
        <div class="card-body text-primary">
          <form action="/accounts/login/" method="post" style="font-family: 'apercu',sans-serif; font-size: 20px;">
            {% csrf_token %}
            {% bootstrap_form form%}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>
            <input type="hidden" name="next" value="{{next}}">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-0 m-0">
    <div class="col-md-6">
      <div class="card mt-5" style="width: 28rem;">
        <div class="card-body text-center">
          <h5 class="card-title" style="font-family: 'apercu',sans-serif">Don't have an account?</h5>
          <h2 style="color:grey;font-size:16px;font-family: 'Dosis', sans-serif;">By signing up, you agree to our Terms,
            Data Policy and Cookies Policy.</h2>
          <a href="/accounts/register" class="btn btn-sm btn-primary" style="font-family: 'Dosis', sans-serif;">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
  <div class="col-md-12">
    <div class="footer">
      <ul class="footer-page text-center" style="font-family: 'apercu',sans-serif;">
        <li class="footer"><a class="contact" href="https://www.awwwards.com/contact-us/">Contact Us</a></li>
        <li class="footer"><a class="cookies" href="https://www.awwwards.com/cookies-policy/">Cookies Policy</a></li>
        <li class="footer"><a class="privacy" href="https://www.awwwards.com/privacy-policy/">Privacy Policy</a></li>
        <li class="footer"><a class="terms" href="https://www.awwwards.com/terms/">Legal Terms</a></li>
        <li class="footer"><a class="language" href="https://techcrunch.com/tag/language-support/">Language</a></li>
      </ul>
    </div>
    <h6 class="copyright" style="font-size: 12px;"> <strong>© 2021 EVELINE PHILIPIA</strong> </h6>
  </div>
</div> 
<style>
  .footer{
    text-align: center;
    background-color: aliceblue;
  }
</style>

{% endblock %}